*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color:  #e0ac1c;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #2c292f;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 35px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #736b7b;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #5b460b;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
.sidebar ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background:  #e0ac1c;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 1px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

#check:checked ~ section{
  margin-left: 250px;
}


/* Products */

.criteriiComp{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.criteriiCompBtn a{
  position: static;
  float: right;
  margin-left: 30px;
  padding-top: 10%;
  text-decoration: none;
  display: block;
  color: black;
  background-color: #305900;
  width: 90px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(0deg) skewX(0deg) translate(0,0);
  box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
}
.criteriiCompBtn a:before{
  content: '';
  position: absolute;
  top: 3px;
  left: -5px;
  height: 100%;
  width: 5px;
  background:#004d00;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
.criteriiCompBtn a:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: -3px;
  height: 5px;
  width: 100%;
  background:#004d00;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}
.criteriiCompBtn a:hover{
  background: #305900;
  color: black;
  box-shadow: -20px 20px 10px rgba(00, 00, 00);
  transform: rotate(0deg) skew(1deg, 1deg) translate(0px, 0px);
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding-bottom: 180px;
  padding-left: 3%;
  padding-right: 3%;
  column-gap: 4vh;
  grid-row-gap: : 3vh;
  grid-template-rows: 500px;
}
.grid-item {
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px #828282;
  border-radius: 1.75vh;
  text-align: center;
  line-height: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-item .titlu {
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-justify: auto;
}
.grid-item .titlu:hover {
  color: grey;
}

.grid-item img {
  object-fit: contain;
  mix-blend-mode: multiply;
  width: 40%;
  height: 40%;
  padding: 0px;
}

.grid-item .pret {
  color: rgb(200, 100, 0);
  font-size:30px;
}

@media only screen and (max-width: 990px){
.grid-item {
  margin-top: 4px;
}
.grid-container {
  padding-bottom: 180px;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0px;
}
}

/* The Delete Button */

.grid-item .close span{
   color: #111;
   float: right;
   font-size: 36px;
   font-weight: bold;
   margin-right: 35px;
}

.grid-item .close span:hover,
.grid-item .close span:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}