*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #2c292f;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 35px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #736b7b;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #5b460b;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
.sidebar ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background:  #e0ac1c;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 1px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

#check:checked ~ section{
  margin-left: 250px;
}


/* Comparison buttons */

.criteriiComp{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.criteriiComp h2{
  font-family: Apple Chancery, cursive;
}  

.criteriiCompBtn a{
  position: static;
  float: right;
  margin-left: 30px;
  padding-top: 10%;
  text-decoration: none;
  display: block;
  color: black;
  background-color: #305900;
  width: 90px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(0deg) skewX(0deg) translate(0,0);
  box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
}
.criteriiCompBtn a:before{
  content: '';
  position: absolute;
  top: 3px;
  left: -5px;
  height: 100%;
  width: 5px;
  background:#004d00;
  transform: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
.criteriiCompBtn a:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: -3px;
  height: 5px;
  width: 100%;
  background:#004d00;
  transform: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}
.criteriiCompBtn a:hover{
  background: #305900;
  color: black;
  box-shadow: -20px 20px 10px rgba(00, 00, 00);
  transform: rotate(0deg) skew(1deg, 1deg) translate(0px, 0px);
}

a.rssFeed {
 background-color: #660066;
 margin-left: 95px;
}
a.rssFeed:before {
  background-color: #330033;
}
a.rssFeed:after {
  background-color: #330033;
}
a.rssFeed:hover {
 background-color: #660066;
}


/* Containerul cu produse */

.grid-container {
  display: table;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding-bottom: 180px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  margin-left: 180px;
  column-gap: 4vh;
  grid-row-gap: 3vh;
  grid-template-rows: 500px;
}

.grid-item {
  display: inline-block;
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
  width: 400px;
  border: 1px #828282;
  border-radius: 1.75vh;
  text-align: center;
  line-height: normal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-item .titlu {
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-justify: auto;
  color: black;
}
.grid-item .titlu:hover {
  color: grey;
}

.grid-item img {
  object-fit: contain;
  mix-blend-mode: multiply;
  width: 80%;
  height: 80%;
  padding: 0px;
}

.grid-item .pret {
  color: rgb(200, 100, 0);
  font-size: 28px;
}

.grid-item .rating::before {
  content: '★★★★★';
  --width: calc(var(--rating) / 5 * 100%);
  /*rating e intre 0 si 5, 20% reprezinta o stea*/
  background: linear-gradient(to right, rgb(255, 200, 0) var(--width), rgb(15, 15, 15) var(--width));
  /* prima culoare e cea de umplere, a doua cea de fundal (rating 5=5 stele galbene)*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-size: calc(var(--font-size)*2);
  /*facem stelele duble fata de text*/
}

.first .grid-item{
  display: table-cell;
  background: #85bb65;
  width: 400px;
}

h3.categorie{
  font-family: Apple Chancery, cursive;
  font-variant-caps: petite-caps;
  font-style: oblique;
  font-size: 25px;
  margin: 2%;
  color: #660066;
}

@media only screen and (max-width: 990px){
.grid-item {
  margin-top: 4px;
}
.grid-container {
  padding-bottom: 180px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0px;
  margin: 17%;
}
.criteriiComp{
  margin-left: 1%;
  margin-bottom: 0px;
}  
}

/* The Delete Product Button */
.grid-item .close span{
   color: #111;
   float: right;
   font-size: 36px;
   font-weight: bold;
   margin-right: 35px;
}

.grid-item .close span:hover,
.grid-item .close span:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}


/* The Modal (background) */
.modalProduse{
   display: none; 
   position: fixed; 
   z-index: 1; /*Sit on top*/
   top: 8.5%;
   left: 0%;
   width: 2000px;
   height: 650px; 
   overflow: auto; /*Enable scroll if needed*/
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.7);
}

/* Modal Content/Box */
.modal-content{
   font-family: "Times New Roman", Times, serif;
   background-color: #e0ac1c;
   color: #004d00;
   margin: 2.5%;
   padding: 1%;
   padding-left: 5%;
   padding-bottom: 5%;
   border: 1px solid #888;
   width: 1100px;
   height: 400px; 
   padding-bottom: 2%;
   overflow: scroll;
}

/* Scrollbar styles */

/* width */
::-webkit-scrollbar {
   width: 12px;
   height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
   border: 1px solid #e0ac1c;
   border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: #004d00;  
   border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #004d00;  
}  

/* Close the Modal Button */
.inchide {
   color: #111;
   float: right;
   font-size: 36px;
   font-weight: bold;
   margin-right: 35px;
}
.inchide:hover,
.inchide:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}



@media only screen and (max-width: 990px){
  .modal-content{ 
   padding: 1%;
   padding-bottom: 2%;
   padding-left: 0px;
   border: 1px solid #888;
   width: 500px;
   height: 500px; 
   margin: 5%;
   margin-top: 5px;
   overflow: scroll;
 }
}

@media only screen and (max-width: 640px) {
    .modalProduse{
        top: 6%;
        width: 100%;
        height: 90%;
        padding: 2%;
        padding-left: 0%;
    }
    .modal-content{
        padding: 3%;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 768px) {
   .modalProduse{
        top: 8%;
        width: 100%;
        height: 90%;
        padding: 2%;
        
    }
   .modal-content{
        padding: 3%;
        padding-left: 7%;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }
}