*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}
body {
  font-family: 'Roboto', sans-serif;
}

section{
  background: linear-gradient(182deg, #2c292f, #e0ac1c);
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}



/*Elementul principal: buton de cautare*/

.element_mijloc{
  top: 55%;
  left: 50%;
  border-radius: 35px;
  width: 800px;
  height: 400px;
  background: rgba(44, 41, 47, 0.3);
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}



.element_mijloc h2{
  position: relative;
  top:7%;
  color: black;
  text-align: center;
  font: bold 50px sans-serif;
  font-weight: bold;
}

.element_mijloc p{
  position: relative;
  top:7%;
  text-align: center;
  font-weight: normal;
  font: bold 30px sans-serif;
  color:white;
}

/*casuta de cautare*/
.buton_cautare{
  position: absolute;
  top:60%;
  left:28%;
}
.bloc_cautare {
  display: inline-block;
}
input {
  border :2px solid #1d3030;
  font-size: 27px;
  height: 70px;
  width: 85%;
  border-radius: 35px;
  opacity: 0.5;
  max-width: 500px;
  box-sizing: border-box;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .element_mijloc {
    width: 100%;
    top:58%;
    transition: all .3s ease;
  }
  .element_mijloc .buton_cautare input,
  .element_mijloc .buton_cautare a
  .element_mijloc p,
  .element_mijloc h1 {
    display:block;
  }
  .buton_cautare a {
    padding-left: 40%;
  }
  .buton_cautare  {
    padding-top: 5%;
  }
  .element_mijloc p{
    font-size: 23px;
  }
  .element_mijloc{
    top:65%;
    width: 85%;
    height: 50%;
  }
  .element_mijloc .buton_cautare{
    left:20%;
  }
}

